[Desktop Entry]
Name[cs]=PulseEffects
Name[de]=PulseEffects
Name[fr_FR]=PulseEffects
Name[hr]=Pulse Efekti
Name[it_IT]=PulseEffects
Name[pt_BR]=PulseEffects
Name[sv]=PulseEffects
Name[ru]=PulseEffects
Name=PulseEffects
GenericName[pt_BR]=Equalizador, Compressor e Outros Efeitos de Áudio
GenericName=Equalizer, Compressor and Other Audio Effects
Comment[cs]=Zvukové efekty pro programy využívající PulseAudio
Comment[de]=Audio Effekte für Pulseaudio Anwendungen
Comment[fr_FR]=Effets audio pour applications PulseAudio
Comment[hr]=Zvučni efekti za Pulseaudio aplikacije
Comment[it_IT]=Effetti audio per le applicazioni Pulseaudio
Comment[pt_BR]=Efeitos de Áudio para Programas que Utilizam Pulseaudio
Comment[sv]=Ljudeffekter för PulseAudio applikationer
Comment[ru]=Аудиоэффекты для приложений PulseAudio
Comment=Audio Effects for PulseAudio Applications
Keywords[cs]=omezovač (limiter);kompresor;dozvuk;ekvalizér;automatická hlasitost;
Keywords[de]=Limiter;Kompressor;Hall;Equalizer;Autovolumen;
Keywords[hr]=graničnik;kompresor;odjek;ekvalizator;automatska glasnoća zvuka;
Keywords[pt_BR]=limitador;compressor;reverberação;equalizador;autovolume;
Keywords[sv]=limiter;begränsare;kompressor;eko;efterklang;equalizer;utjämnare;auto;volym;
Keywords=limiter;compressor;reverberation;equalizer;autovolume;
Categories=GTK;AudioVideo;Audio;
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=pulseeffects com.github.wwmm.pulseeffects

Icon=/home/gonzalo/Imágenes/Iconos/equalizador.png


StartupNotify=true
Terminal=false
Type=Application
X-Flatpak=com.github.wwmm.pulseeffects
