[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DBeaver Community
GenericName=UniversaL Database Manager
Comment=Universal Database Manager and SQL Client.
Path=/usr/share/dbeaver/
Exec=/usr/share/dbeaver/dbeaver --launcher.GTK_version 2
Icon=/home/gonzalo/Imágenes/Iconos/db.png
Categories=IDE;Development
WM_CLASS=DBeaver
StartupWMClass=DBeaver
StartupNotify=true
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL
MimeType=application/sql
