[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=/home/gonzalo/Imágenes/Iconos/eclipse.png
Exec=/home/gonzalo/Programas/eclipse/eclipse
Terminal=false
Categories=Development;IDE;Java;

