[Desktop Entry]
Name=Epiphany
GenericName=Web Browser
X-GNOME-FullName=Epiphany Web Browser
Comment=Browse the web
Keywords=web;browser;internet;
Keywords[ar]=وب;متصفح;إنترنت;
Keywords[as]=ৱেব;ব্ৰাউছাৰ;ইণ্টাৰনেট;
Keywords[be]=сеціва;сетка;аглядальнік;браўзер;гартач;інтэрнэт;павуцінне;
Keywords[bg]=уеб;браузър;интернет;web;browser;internet;
Keywords[bs]=web;pretraživač;internet;
Keywords[ca]=web;navegador;internet;
Keywords[ca@valencia]=web;navegador;internet;
Keywords[cs]=web;www;prohlížeč;internet;
Keywords[da]=web;browser;internet;
Keywords[de]=Netz;Browser;Internet;
Keywords[el]=ιστός;περιηγητής;διαδίκτυο;web;browser;internet;
Keywords[en_GB]=web;browser;internet;
Keywords[eo]=reto;foliumilo;interreto;
Keywords[es]=web;navegador;internet;
Keywords[eu]=weba;arakatzailea;internet;
Keywords[fa]=وب;مرورگر;اینترنت;
Keywords[fi]=web;browser;internet;netti;selain;
Keywords[fr]=web;navigateur;internet;
Keywords[ga]=gréasán;brabhsálaí;idirlíon;
Keywords[gl]=web;navegador;internet;
Keywords[he]=דפדפן;רשת;אינטרנט;מרשתת;
Keywords[hi]=वेब; ब्राउज़र;इंटरनेट;
Keywords[hu]=web;böngésző;internet;net;
Keywords[id]=web;peramban;internet;
Keywords[it]=web;browser;internet;
Keywords[ja]=web;browser;internet;ウェブブラウザー;インターネット;
Keywords[kk]=веб;браузер;интернет;
Keywords[ko]=web;웹;browser;브라우저;internet;인터넷;
Keywords[lt]=žiniatinklis;naršyklė;internetas;
Keywords[lv]=tīmeklis;pārlūks;internets;web;
Keywords[ml]=വെബ്;ബ്രൌസര്‍;ഇന്റര്‍നെറ്റ്;
Keywords[nb]=web;nettleser;internett;
Keywords[nl]=web;browser;internet;surfen;
Keywords[oc]=web;navigador;internet;
Keywords[or]=ୱେବ;ବ୍ରାଉଜର;ଇଣ୍ଟରନେଟ;
Keywords[pl]=www;web;przeglądarka;wyszukiwarka;internet;sieć;
Keywords[pt]=web;navegador;internet;
Keywords[pt_BR]=web;navegador;internet;
Keywords[ru]=веб;браузер;интернет;
Keywords[sk]=web;prehliadač;internet;prehľadávanie;
Keywords[sl]=brskalnik;splet;internet;medmrežje;
Keywords[sr]=веб;прегледник;интернет;
Keywords[sr@latin]=veb;preglednik;internet;
Keywords[sv]=webb;webbläsare;internet;nätet;
Keywords[ta]=வலை;உலாவி;இணையம்;
Keywords[tg]=веб;браузер;интернет;
Keywords[th]=เว็บ;เบราว์เซอร์;อินเทอร์เน็ต;
Keywords[tr]=web;tarayıcı;internet;
Keywords[ug]=web;browser;internet;توربەت;توركۆرگۈ;ئىنتېرنېت;
Keywords[uk]=веб;інтернет;тенет;переглядач;бравзер;
Keywords[zh_CN]=web;browser;internet;网络;浏览器;互联网;
Keywords[zh_HK]=web;browser;internet;網頁;瀏覽器;互聯網;
Keywords[zh_TW]=web;browser;internet;網頁;瀏覽器;網際網路;
Exec=epiphany %U
StartupNotify=true
Terminal=false
Type=Application
Icon=web-browser
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;multipart/related;application/x-mimearchive;message/rfc822;
Actions=New;Incognito;
X-Ubuntu-Gettext-Domain=epiphany
NoDisplay=true

[Desktop Action New]
Name=New Window
Exec=epiphany --new-window
NoDisplay=true

[Desktop Action Incognito]
Name=New Incognito Window
Exec=epiphany --incognito-mode
NoDisplay=true
