[Desktop Entry]
Name=Document Viewer
Comment=View multi-page documents
Keywords=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;
Keywords[af]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;voorlegging;vertoner;
Keywords[ar]=pdf;ps;بوستسكربت;dvi;xps;djvu;tiff;مستند;عرض;عارض;
Keywords[ca]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentació;visualitzador;
Keywords[cs]=pdf;ps;postscript;postskript;dvi;xps;djvu;tiff;dokument;prezentace;prohlížeč;
Keywords[da]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;præsentation;fremviser;
Keywords[de]=pdf;ps;postscript;dvi;xps;djvu;tiff;Dokument;Präsentation;Betrachter;
Keywords[el]=pdf;ps;postscript;dvi;xps;djvu;tiff;έγγραφο;παρουσίαση;εφαρμογή προβολής;document;presentation;viewer;
Keywords[es]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;visor;
Keywords[fi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;asiakirja;katselin;
Keywords[fr]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;présentation;visionneur;visualiseur;
Keywords[fur]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentazion;visualizadôr;
Keywords[gl]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentación;visor;
Keywords[hr]=pdf;ps;postskripta;dvi;xps;djvu;tiff;dokument;prezentacija;preglednik;
Keywords[hu]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentum;prezentáció;nézegető;
Keywords[id]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumen;presentasi;peninjau;
Keywords[is]=pdf;ps;postscript;dvi;xps;djvu;tiff;skjal;kynning;skoðari;
Keywords[it]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;presentazione;visualizzatore;
Keywords[kk]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;құжат;презентация;көрсету;
Keywords[ko]=pdf;ps;postscript;포스트스크립트;dvi;xps;djvu;tiff;document;문서;presentation;프리젠테이션;viewer;뷰어;문서;보기;
Keywords[lt]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokumentas;pateiktis;prezentacija;žiūryklė;
Keywords[lv]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokuments;prezentācija;skatītājs;
Keywords[nb]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;presentasjon;visning;
Keywords[nl]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;presentatie;viewer;weergave;
Keywords[pa]=ਪੀਡੀਐਫ;ਪੋਸਟਸਕ੍ਰਿਪਟ;ਡੀਵੀਆਈ;ਦਸਤਾਵੇਜ਼;ਪਰਿਜੈਂਟੇਸ਼ਨ;ਐਕਸਪੀਐਸ;ਡੇਜਾਵੂ;ਦਰਸ਼ਕ;ਪੇਸ਼ਕਾਰੀ;ਡੌਕੂਮੈਂਟ;
Keywords[pl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentacja;przeglądarka;
Keywords[pt_BR]=pdf;ps;postscript;dvi;xps;djvu;tiff;documento;apresentação;visualizador,visualização;
Keywords[ro]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;prezentare;vizualizator;
Keywords[ru]=pdf;ps;postscript;dvi;xps;djvu;tiff;документ;презентация;просмотр;
Keywords[sk]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;prezentácia;prehliadač;prezerač;
Keywords[sl]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;predstavitev;pregledovalnik;
Keywords[sr]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;пдф;пс;пост-скрипт;дви;икспс;дежави;тифф;документ;презентација;приказивање;dokument;prezentacija;prikazivanje;
Keywords[sr@latin]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;pdf;ps;post-skript;dvi;iksps;dežavi;tiff;dokument;prezentacija;prikazivanje;dokument;prezentacija;prikazivanje;
Keywords[sv]=pdf;ps;postscript;dvi;xps;djvu;tiff;dokument;presentation;visare;bläddrare;
Keywords[tr]=pdf;ps;postscript;dvi;xps;djvu;tiff;belge;sunum;görüntüleyici;
Keywords[vi]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;tài;liệu;tai;lieu;presentation;trình;diễn;trinh;dien;viewer;xem;
Keywords[zh_CN]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;文档;演示;幻灯;查看器;
Keywords[zh_TW]=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;文件;簡報;檢視器;
TryExec=evince
Exec=evince %U
StartupNotify=true
Terminal=false
Type=Application
Icon=evince
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evince
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.28.4
Categories=GNOME;GTK;Office;Viewer;Graphics;2DGraphics;VectorGraphics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/x-xzpdf;application/x-ext-pdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-ext-ps;application/x-ext-eps;application/illustrator;application/x-dvi;application/x-bzdvi;application/x-gzdvi;application/x-ext-dvi;image/vnd.djvu+multipage;application/x-ext-djv;application/x-ext-djvu;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;application/x-cbt;application/x-ext-cbr;application/x-ext-cbz;application/x-ext-cb7;application/x-ext-cbt;application/vnd.comicbook+zip;application/vnd.comicbook-rar;application/oxps;application/vnd.ms-xpsdocument;
X-Ubuntu-Gettext-Domain=evince
NoDisplay=true