[Desktop Entry]
Version=1.0
Type=Application
Name=Hiri
GenericName=Mail Client
Comment=Hiri Email client
Categories=Office;Network;Email;Calendar;
Keywords=Email;E-mail;Calendar;Contacts;Terminal=false
StartupNotify=true
MimeType=x-scheme-handler/mailto;
Exec="/home/gonzalo/Programas/Hiri/hiri.sh" %u
Icon=/home/gonzalo/Imágenes/Iconos/outlook2.png