[Desktop Entry]
Version=13.0
Type=Application
Exec="/home/gonzalo/Programas/IntelliJ/idea-IC-182.3684.101/bin/idea.sh" %f
Name=IntelliJ
Icon=/home/gonzalo/Imágenes/Iconos/IntelliJ.png
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea-ce