[Desktop Entry]
NoDisplay=true
Name=Files
Name[ak]=Files
Name[bg]=Файлове
Name[ca]=Fitxers
Name[cs]=Soubory
Name[da]=Filer
Name[de]=Dateien
Name[el]=Αρχεία
Name[en_GB]=Files
Name[es]=Archivos
Name[et]=Failid
Name[fi]=Tiedostot
Name[fr]=Fichiers
Name[hr]=Datoteke
Name[hu]=Fájlkezelő
Name[id]=Berkas
Name[io]=Faili
Name[it]=File
Name[ja]=ファイル
Name[ko]=파일
Name[ku]=Dosya
Name[lt]=Failai
Name[nb]=Filer
Name[nl]=Bestanden
Name[pl]=Pliki
Name[pt]=Ficheiros
Name[pt_BR]=Arquivos
Name[ro]=Fișiere
Name[ru]=Файлы
Name[si]=ගොනු
Name[sk]=Súbory
Name[sl]=Datoteke
Name[sr]=Датотеке
Name[sv]=Filer
Name[tr]=Dosyalar
Name[ug]=ھۆججەتلەر
Name[uk]=Файли
Name[ur]=فائلیں
Name[vi]=Tập tin
Name[zh_CN]=文件
Name[zh_TW]=檔案
Comment=Browse your files
Comment[bg]=Преглеждане на вашите файлове
Comment[ca]=Navegueu pels vostres fitxers
Comment[cs]=Procházejte své soubory
Comment[da]=Gennemse dine filer
Comment[de]=Dateien und Ordner durchsuchen
Comment[en_GB]=Browse your files
Comment[es]=Explora tus archivos
Comment[fi]=Selaa tiedostojasi
Comment[fr]=Explorez vos fichiers
Comment[hr]=Pregledaj svoje datoteke
Comment[hu]=Tallózzon a fájlok között
Comment[id]=Jelajahi berkas Anda
Comment[it]=Sfoglia i tuoi file
Comment[ja]=ファイルを閲覧します
Comment[ko]=여러분의 파일을 찾아봅니다
Comment[ku]=Çav li pelên xwe le bigere
Comment[lt]=Naršyti failus
Comment[nb]=Bla gjennom filer
Comment[nl]=Bestanden doorbladeren
Comment[pl]=Przeglądaj swoje pliki
Comment[pt]=Gestão de ficheiros
Comment[pt_BR]=Visualizar seus arquivos
Comment[ru]=Обзор ваших файлов
Comment[si]=ඔබේ ගොනු විමසන්න
Comment[sk]=Prehliadať vaše súbory
Comment[tr]=Dosyalarınıza gözatın
Comment[uk]=Переглянути свої файли
Comment[vi]=Duyệt tập tin  của bạn
Comment[zh_CN]=浏览文件
Comment[zh_TW]=瀏覽您的檔案
Keywords=folder;manager;explore;disk;filesystem;
Keywords[bg]=папка;мениджър;разглеждане;диск;файлова система;
Keywords[ca]=carpeta;gestor;explora;disc;sistema de fitxers;
Keywords[cs]=složka;správce;procházet;disk;souborový systém;
Keywords[da]=mappe;håndtering;udforsk;gennemse;disk;filsystem;
Keywords[de]=Verzeichnis;ordner;Verwaltung;Durchsuchen;Festplatte;Dateisystem;
Keywords[en_GB]=folder;manager;explore;disk;filesystem;
Keywords[es]=carpeta;gestor;explorar;disco;sistema de archivos;sistema de ficheros;
Keywords[fi]=folder;manager;explore;disk;filesystem;kansio;hakemisto;tiedostoselain;levy;tiedostojärjestelmä;
Keywords[fr]=dossier;gestionnaire;explorer;disque;système de fichiers;
Keywords[hr]=mapa;upravitelj;istraži;disk;datotečni sustav;
Keywords[hu]=mappa;kezelő;felfedező;tárhely;fájlrendszer;
Keywords[id]=folder;pengelola;jelajah;diska;berkas sistem;
Keywords[it]=cartella;gestore;esplora;disco;file;file system;
Keywords[ja]=フォルダー;マネージャー;エクスプローラー;ディスク;ファイルシステム;
Keywords[ko]=폴더;관리자;찾아보기;디스크;파일시스템;
Keywords[lt]=aplankas;tvarkytuvė;naršyti;diskas;failų sistema;
Keywords[nb]=Mappe;behandler;utforsk;disk;filsystem;
Keywords[nl]=map;beheerder;verken;schijf;bestandssysteem;
Keywords[pl]=katalog;folder;menedżer;menadżer;manadżer;manedżer;manager;eksploruj;eksplorator;dysk;system plików;
Keywords[pt]=folder;manager;explore;disk;filesystem;
Keywords[pt_BR]=pasta;gerenciador;explorar;disco;sistema de arquivos;
Keywords[ru]=папка;менеджер;обзор;диск;файловая система;
Keywords[si]=ගොනුව;කළමනාකරු;ගවේෂණය;තැටිය;ගොනු පද්ධතිය;
Keywords[sk]=priečinok;správca;prehliadať;disk;systém súborov;
Keywords[tr]=klasör;yönetici;keşfet;disk;dosya sistemi;
Keywords[uk]=тека;менеджер;огляд;диск;файлова система;
Keywords[zh_CN]=文件夹;管理;浏览;磁盘;文件系统;
Keywords[zh_TW]=folder;manager;explore;disk;filesystem;資料夾;管理員;探索;磁碟;檔案系統;
GenericName=File Manager
GenericName[bg]=Файлов мениджър
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateiverwaltung
GenericName[en_GB]=File Manager
GenericName[es]=Gestor de archivos
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[hr]=Upravitelj datoteka
GenericName[hu]=Fájlkezelő
GenericName[id]=Pengelola Berkas
GenericName[it]=Gestore di file
GenericName[ja]=ファイルマネージャー
GenericName[ko]=파일 관리자
GenericName[ku]=Rêveberiya Pelan
GenericName[lt]=Failų tvarkytuvė
GenericName[nb]=Filbehandler
GenericName[nl]=Bestandsbeheer
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ru]=Файловый менеджер
GenericName[si]=ගොනු කළමනාකරු
GenericName[sk]=Správca súborov
GenericName[tr]=Dosya Yöneticisi
GenericName[uk]=Файловий менеджер
GenericName[vi]=Trình quản lý tập tin
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理員
Exec=io.elementary.files %U
Icon=system-file-manager
Terminal=false
StartupNotify=true
Type=Application
MimeType=inode/directory;
Categories=System;Utility;Core;GTK;FileTools;FileManager;
X-GNOME-Gettext-Domain=io.elementary.files
X-GNOME-UsesNotifications=true
Actions=WindowNew;Root;


[Desktop Action WindowNew]
Name=New Window
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[en_GB]=New Window
Name[es]=Ventana nueva
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ko]=새 창
Name[ku]=Paceya nû
Name[lt]=Naujas langas
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt]=Nova Janela
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[si]=නව කවුළුව
Name[sk]=Nové okno
Name[sv]=Nytt Fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Exec=io.elementary.files -n
NoDisplay=true

[Desktop Action Root]
Name=New Window As Administrator
Name[bg]=Нов прозорец като администратор
Name[ca]=Finestra nova com a administrador
Name[cs]=Nové administrátorské okno
Name[da]=Nyt vindue som administrator
Name[de]=Neues Fenster als Systemverwalter öffnen
Name[en_GB]=New Window As Administrator
Name[es]=Nueva ventana como administrador
Name[fi]=Uusi ikkuna ylläpitäjän oikeuksin
Name[fr]=Nouvelle fenêtre en tant qu'administrateur
Name[hr]=Novi prozor kao Administrator
Name[hu]=Új ablak rendszergazdaként
Name[id]=Jendela Baru Sebagai Administrator
Name[it]=Nuova finestra come amministratore
Name[ja]=新しい管理者ウィンドウ
Name[ko]=관리자 권한으로 새 창 열기
Name[ku]=Paceyek Nû Weke Rêvebir Veke
Name[lt]=Naujas langas administratoriaus teisėmis
Name[nb]=Nytt vindu som administrator
Name[nl]=Nieuw venster als beheerder
Name[pl]=Nowe okno jako administrator
Name[pt]=Nova Janela como Administrador
Name[pt_BR]=Nova janela como administrador
Name[ru]=Новое окно от имени Администратора
Name[si]=පරිපාලක ලෙස නව කවුළුව
Name[sk]=Nové okno v režime správcu
Name[tr]=Yönetici Olarak Yeni Pencere
Name[uk]=Нове вікно Як адміністратор
Name[zh_CN]=新建管理员窗口
Name[zh_TW]=以管理員身份新開視窗
Exec=io.elementary.files-pkexec
NoDisplay=true