[Desktop Entry]
Type=Application
Name=Calendar
Name[ak]=Calendar
Name[bg]=Календар
Name[de]=Kalender
Name[en_CA]=Calendar
Name[et]=Kalender
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[hi]=कैलेन्डर
Name[hr]=Kalendar
Name[it]=Calendario
Name[ja]=カレンダー
Name[ko]=마야
Name[lt]=Kalendorius
Name[ms]=Kalendar
Name[nb]=Kalender
Name[nl]=Kalender
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ru]=Календарь
Name[sl]=Koledar
Name[sq]=Kalendar
Name[sv]=Kalender
Name[tr]=Takvim
Name[uk]=Календар
Name[zh_CN]=日历
Name[zh_TW]=行事曆
GenericName=Calendar
GenericName[ak]=Calendar
GenericName[bg]=Календар
GenericName[de]=Kalender
GenericName[en_CA]=Calendar
GenericName[et]=Kalender
GenericName[fi]=Kalenteri
GenericName[fr]=Calendrier
GenericName[hi]=कैलेन्डर
GenericName[hr]=Kalendar
GenericName[it]=Calendario
GenericName[ja]=カレンダー
GenericName[ko]=마야
GenericName[lt]=Kalendorius
GenericName[ms]=Kalendar
GenericName[nb]=Kalender
GenericName[nl]=Kalender
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Calendário
GenericName[ru]=Календарь
GenericName[sl]=Koledar
GenericName[sq]=Kalendar
GenericName[sv]=Kalender
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[zh_CN]=日历
GenericName[zh_TW]=行事曆
Comment=View and schedule events
Comment[ak]=Hwɛ anna yɛ wo mmerɛ ho nhyehyeɛ
Comment[bg]=Преглеждане и насрочване на събития
Comment[de]=Termine ansehen und planen
Comment[en_CA]=View and schedule events
Comment[et]=Sündmuste planeerimine ja haldamine
Comment[fi]=Katsele ja aikatauluta tapahtumia
Comment[fr]=Organiser et planifier des événements
Comment[hr]=Pregledajte i zakažite događaje
Comment[it]=Visualizza e pianifica gli eventi
Comment[ja]=イベントの表示・編集をします
Comment[ko]=이벤트를 확인하고 편집합니다
Comment[lt]=Žiūrėti bei planuoti įvykius
Comment[ms]=Lihat dan jadualkan peristiwa-peristiwa
Comment[nb]=Vis og planlegg hendelser
Comment[nl]=Bekijk en maak afspraken
Comment[pl]=Przeglądaj i planuj wydarzenia
Comment[pt]=Ver e programar eventos
Comment[pt_BR]=Visualizar e agendar eventos
Comment[ru]=Просмотр и создание событий
Comment[sl]=Pregled in načrtovanje dogodkov
Comment[sq]=Shiko dhe planifiko ngjarje
Comment[sv]=Visa och schemalägg händelser
Comment[tr]=Etkinlikleri Görüntüle ve Planla
Comment[uk]=Показати та скласти розклад подій
Comment[zh_CN]=查看并安排活动
Comment[zh_TW]=查看和安排事件
Exec=maya-calendar %U
Icon=/home/gonzalo/Imágenes/Iconos/google_calendar.png
Terminal=false
Categories=GTK;Office;Calendar;
StartupNotify=true
MimeType=text/calendar;
Keywords=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[de]=Maya;Terminplaner;Termine;Tage;Ereignisse;Kalender;ics;CalDAV;Evolution;
Keywords[en_CA]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[et]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;planeerija;planeerimine;aeg;kuupäev;sündmused;tunnid;
Keywords[fi]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;kalenteri;tapahtumat;
Keywords[fr]=Maya;Planning;Dates;Jours;Events;Evenements;Événements;Calendrier;ics;caldav;evolution;
Keywords[hr]=Maja;Planer;Datumi;Dani;Događaji;Kalendar;ics;caldav;evolution;
Keywords[it]=Maya;Pianifica;Appuntamenti;Giorni;Eventi;Calendario;ics;caldav;evolution;
Keywords[ja]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[ko]=마야,일정표;날짜;요일;이벤트;캘린더;ics;caldav;에볼루션;
Keywords[lt]=Maya;Planuoklis;Planuotojas;Datos;Dienos;Įvykiai;Kalendorius;Ivykiai;ics;caldav;evolution;
Keywords[ms]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[nb]=Maya;Planlegger;Datoer;Dager;Hendelser;Kalender;ics,caldav;evolution;
Keywords[nl]=Maya;Planner;datums;dagen;gebeurtenissen;kalender;ics;caldav;evolution;
Keywords[pl]=Maya;Planista;Daty;Dni;Wydarzenia;Kalendarz;ics;caldav;evolution;
Keywords[pt]=Maya;Planear;Datas;Eventos;Calendário;ics;caldav;evolution;
Keywords[pt_BR]=Maya;Planejar;Datas;Dias;Eventos;Calendário;ics;caldav;evolution;
Keywords[ru]=Календарь;Даты;Дни;События;Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[sl]=Maya;Rokovnik;Datumi;Dnevi;Dogodki;Koledar;ics;caldav;evolution;
Keywords[sq]=Maya;Planifikues;Data;Dita;Ngjarje;Event;Kalendar;ics;caldav;evolution;
Keywords[sv]=Maya;Planerare;Datum;Dagar;Event;Kalender;ics;caldav;evolution;
Keywords[tr]=Maya;Planlayıcı;Tarih;Gün;Etkinlikler;Takvim;ics;caldav;evrim;
Keywords[zh_CN]=日历;安排;约会;日期;活动;日历;ICS;CalDAV;Evolution;
Keywords[zh_TW]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;行事曆;排程;行程;
Actions=AddEvent;AboutDialog;
X-GNOME-UsesNotifications=true

[Desktop Action AddEvent]
Name=Add Event
Name[bg]=Добавяне на събитие
Name[de]=Termin hinzufügen
Name[en_CA]=Add Event
Name[et]=Sündmuse lisamine
Name[fi]=Lisää tapahtuma
Name[fr]=Ajouter un événement
Name[hi]=घटना जोडें
Name[hr]=Dodaj događaj
Name[it]=Aggiungi un evento
Name[ja]=イベントの追加
Name[ko]=이벤트 추가
Name[lt]=Pridėti įvykį
Name[ms]=Tambah Acara
Name[nb]=Legg til hendelse
Name[nl]=Gebeurtenis toevoegen
Name[pl]=Dodaj wydarzenie
Name[pt]=Adicionar Evento
Name[pt_BR]=Adicionar evento
Name[ru]=Добавить событие
Name[sl]=Dodaj dogodek
Name[sq]=Shto ngjarje
Name[sv]=Skapa händelse
Name[tr]=Etkinlik Ekle
Name[uk]=Додати Подію
Name[zh_CN]=添加活动
Name[zh_TW]=加入事件
Exec=maya-calendar -a

[Desktop Action AboutDialog]
Name=About Calendar
Name[ak]=Calendar Ho Nsɛm
Name[bg]=Относно програмата
Name[de]=Über Kalendar
Name[en_CA]=About Calendar
Name[et]=Rakendusest…
Name[fi]=Tietoja - Kalenteri
Name[fr]=À propos du Calendrier
Name[hr]=O Kalendaru
Name[it]=Informazioni
Name[ja]=カレンダーについて
Name[ko]=마야 소개
Name[lt]=Apie Kalendorių
Name[ms]=Perihal Kalendar
Name[nb]=Om Kalender
Name[nl]=Over Kalender
Name[pl]=O kalendarzu
Name[pt]=Sobre Calendário
Name[pt_BR]=Sobre o Calendário
Name[ru]=О программе
Name[sl]=O Koledarju
Name[sq]=Rreth Kalendar
Name[sv]=Om Kalender
Name[tr]=Takvim Hakkında
Name[uk]=Про Календар
Name[zh_CN]=关于日历
Name[zh_TW]=關於《行事曆》
Exec=maya-calendar --about
