[Desktop Entry]
Name=Terminal
Name[az]=Terminal
Name[bg]=Терминал
Name[ca]=Terminal
Name[cs]=Terminál
Name[da]=Terminal
Name[el]=Τερματικό
Name[en_GB]=Terminal
Name[es]=Terminal
Name[et]=Terminal
Name[fi]=Pääte
Name[fr]=Terminal
Name[fr_CA]=Terminal
Name[he]=מסוף
Name[hi]=टर्मिनल
Name[hr]=Terminal
Name[it]=Terminale
Name[ja]=ターミナル
Name[ko]=터미널
Name[ku]=Termînal
Name[lt]=Terminalas
Name[lv]=Terminālis
Name[nb]=Terminal
Name[oc]=Terminal
Name[pl]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[ru]=Терминал
Name[sl]=Terminal
Name[sr]=Терминал
Name[sv]=Terminal
Name[tl]=Terminal
Name[tr]=Uçbirim
Name[ug]=تېرمىنال
Name[uk]=Термінал
Name[zh_CN]=终端
Name[zh_TW]=終端機
GenericName=Terminal
GenericName[az]=Terminal
GenericName[bg]=Терминал
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[da]=Terminal
GenericName[el]=Τερματικό
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[et]=Terminal
GenericName[fi]=Pääte
GenericName[fr]=Terminal
GenericName[fr_CA]=Terminal
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[hr]=Terminal
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ko]=터미널
GenericName[ku]=Termînal
GenericName[lt]=Terminalas
GenericName[lv]=Terminālis
GenericName[nb]=Terminal
GenericName[oc]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ru]=Терминал
GenericName[sl]=Terminal
GenericName[sr]=Терминал
GenericName[sv]=Terminal
GenericName[tl]=Terminal
GenericName[tr]=Uçbirim
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
Comment=Use the command line
Comment[az]=Əmr sətrindən istifadə et
Comment[bg]=Използване на команден ред
Comment[ca]=Utilitzeu la línia d'ordres
Comment[cs]=Použít příkazovou řádku
Comment[da]=Brug kommandolinjen
Comment[el]=Χρήση της γραμμής εντολών
Comment[en_GB]=Use the command line
Comment[es]=Use la línea de comandos
Comment[et]=Käsurea kasutamine
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[fr_CA]=Utiliser la ligne de commande
Comment[he]=שימוש בשורת הפקודה
Comment[hi]=कमांड लाइन का प्रयोग करें
Comment[hr]=Koristite naredbeni redak
Comment[hu]=Parancssor használata
Comment[it]=Usa la riga di comando
Comment[ja]=コマンドラインを使用します
Comment[ko]=명령문을 사용합니다
Comment[ku]=Rêzika fermanan bikar bîne
Comment[lt]=Naudoti komandų eilutę
Comment[lv]=Izmantot komandrindu
Comment[nb]=Bruk kommandolinjen
Comment[oc]=Utilizar la linha de comanda
Comment[pl]=Użyj wiersza poleceń
Comment[pt]=Utilizar a linha de comando
Comment[pt_BR]=Usar a linha de comando
Comment[ru]=Использовать командную строку
Comment[sl]=Uporabite ukazno vrstico
Comment[sr]=Користите линију наредби
Comment[sv]=Använd kommandoraden
Comment[tl]=Gamitin ang command line
Comment[tr]=Komut satırını kullan
Comment[ug]=كوماندا كۆرۈنمە يۈزىنى ئىشلىتىش
Comment[uk]=Використати командний рядок
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用指令列
TryExec=pantheon-terminal
Exec=pantheon-terminal
Icon=/home/gonzalo/Imágenes/Iconos/terminal.png
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
X-GNOME-Gettext-Domain=pantheon-terminal
Keywords=command;prompt;cmd;commandline;run;
Keywords[az]=əmr;əmr sətiri;yerinə yetirmək;
Keywords[ca]=ordre;indicador;cmd;línia d'ordres;executa;
Keywords[cs]=příkaz;řadek;cmd;příkazová řádka;spustit;
Keywords[da]=command;kommando;prompt;cmd;commandline;kommandolinje;run;kør
Keywords[en_GB]=command;prompt;cmd;commandline;run;
Keywords[es]=command;prompt;cmd;commandline;intérprete;línea de comandos;
Keywords[et]=command;prompt;cmd;commandline;run;käsk;käivita;käivitamine;käsklus;käsurida;
Keywords[fi]=command;prompt;cmd;commandline;run;komentorivi;komento;kehote;
Keywords[fr]=commande;prompt;cmd;ligne de commande;démarrer;
Keywords[he]=פקודה;שורה;שורת פקודה;ריצה;הרצה;הפעלה;
Keywords[hi]=command;prompt;cmd;commandline;run;
Keywords[hr]=naredba;upit;cmd;naredbeni redak;pokreni;
Keywords[it]=comando;prompt;cmd;linea di comando;esegui;
Keywords[ja]=command;prompt;cmd;commandline;run;
Keywords[ko]=커맨드;프롬프트;cmd;커맨드라인;실행;
Keywords[lt]=komanda;cmd;komandų eilutė;vykdyti;
Keywords[oc]=comanda;prompt;cmd;linha de comanda;aviar;
Keywords[pl]=polecenie;podpowiedź;cmd;wiersz_poleceń;uruchom;
Keywords[pt]=comando;cmd;terminal;linhacomandos;executar;
Keywords[pt_BR]=comando;prompt;cmd;linhadecomando;executar;
Keywords[ru]=команда;командная строка;выполнить;
Keywords[sl]=ukazna;vrstica;cmd;bash;shell;run;
Keywords[sr]=наредба;упит;кмд;линијанаредби;покрени;
Keywords[sv]=kommando;prompt;cmd;kommandorad;kör;
Keywords[tr]=komut;hemen;kmt;komutsatırı;çalıştır;
Keywords[ug]=كوماندا، ئەسكەرتىش بەلگىسى، cmd, كوماندا كۆرۈنمە يۈزى، ئىجرا قىلىش
Keywords[zh_CN]=命令;提示符;cmd;命令行;运行;
Keywords[zh_TW]=command;prompt;cmd;commandline;run;指令;命令;提示;指令列;命列列;執行;跑;
X-GNOME-UsesNotifications=true
Actions=NewWindow;NewRootWindow;

[Desktop Action NewWindow]
Name=New Window
Name[az]=Yeni Pəncərə
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[et]=Uus aken
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle Fenêtre
Name[fr_CA]=Nouvelle Fenêtre
Name[he]=חלון חדש
Name[hi]=नया विंडो
Name[hr]=Novi prozor
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ko]=새 창
Name[ku]=Paceya nû
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[nb]=Nytt Vindu
Name[oc]=Fenèstra novèla
Name[pl]=Nowe okno
Name[pt]=Nova Janela
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[tl]=Bagong Window
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Icon=utilities-terminal
Exec=pantheon-terminal

[Desktop Action NewRootWindow]
Name=New Root Tab
Name[az]=Yeni Root Vərəqəsi
Name[bg]=Нов подпрозорец (като администратор)
Name[ca]=Nova pestanya d'Administrador
Name[cs]=Nová karta s právy root
Name[da]=Nyt root-faneblad
Name[el]=Νέα καρτέλα ως διαχειριστής
Name[en_GB]=New Root Tab
Name[es]=Nueva pestaña como administrador
Name[et]=Uus juurkasutaja kaart
Name[fi]=Uusi ylläpitäjän välilehti
Name[fr]=Nouvel onglet en tant qu'administrateur
Name[he]=לשונית חדשה כמנהל
Name[hi]=नया रुट टैब
Name[hr]=Nova korijenska kartica
Name[it]=Nuova finestra come Amministratore
Name[ja]=新しい root タブ
Name[ko]=새 Root 탭
Name[lt]=Nauja šaknies kortelė
Name[lv]=Jauna mājas mapes cilne
Name[nb]=Ny fane som Root
Name[oc]=Novèl onglet en mòde administrator
Name[pl]=Nowa karta root
Name[pt]=Novo Separador como Root
Name[pt_BR]=Nova aba root
Name[ru]=Новая вкладка от имени Администратора
Name[sl]=Nov zavihek z root dostopom
Name[sr]=Нови корени језичак
Name[sv]=Ny rotflik
Name[tl]=Bagong Tab na naka-root
Name[tr]=Yeni Kök Sekmesi
Name[ug]=يىڭى باشقۇرغۇچى بەتيۈزى قۇرۇش
Name[uk]=Нова вкладка від імені Адміністратора
Name[zh_CN]=新建管理员标签
Name[zh_TW]=新 Root 分頁
Icon=utilities-terminal
Exec=pantheon-terminal -e "sudo -s"
