[Desktop Entry]
Name=Photos
Name[af]=Foto’s
Name[bg]=Снимки
Name[ca]=Fotografies
Name[ckb]=وێنەکان
Name[cs]=Fotky
Name[da]=Billeder
Name[de]=Fotos
Name[el]=Φωτογραφίες
Name[en_GB]=Photos
Name[es]=Fotos
Name[fi]=Kuvat
Name[fr]=Photos
Name[hr]=Fotografije
Name[io]=Fotografuri
Name[it]=Foto
Name[ja]=フォト
Name[ko]=포토스
Name[ku]=Wêne
Name[lt]=Nuotraukos
Name[ms]=Foto-foto
Name[nb]=Bilder
Name[oc]=Fòtos
Name[pl]=Zdjęcia
Name[pt]=Fotos
Name[pt_BR]=Fotos
Name[ru]=Фотографии
Name[sk]=Fotografie
Name[sl]=Fotografije
Name[sq]=Fotografitë
Name[sr]=Фотографије
Name[sv]=Bilder
Name[tl]=Mga Litrato
Name[tr]=Fotoğraflar
Name[ug]=سۈرەتلەر
Name[uk]=Фотографії
Name[zh_CN]=照片
Name[zh_TW]=相片
Comment=Organize your photos
Comment[af]=Organiseer u foto’s
Comment[bg]=Организирайте снимките си
Comment[ca]=Organitzeu les fotografies
Comment[ckb]=ڕێکخستنی وێنەکانت
Comment[cs]=Spravovat své fotografie
Comment[da]=Organiser dine billeder
Comment[de]=Ihre Fotos verwalten
Comment[el]=Οργανώστε τις φωτογραφίες σας
Comment[en_GB]=Organise your photos
Comment[es]=Organice sus fotos
Comment[fi]=Järjestä digikuvasi
Comment[fr]=Organisez vos photos
Comment[hr]=Organiziraj svoje fotografije
Comment[it]=Organizza le tue foto
Comment[iu]=Организуй свои фотографии
Comment[ja]=写真を整理します
Comment[ko]=사진을 정리합니다
Comment[ku]=Wêne li dar xistin
Comment[lt]=Tvarkyti savo nuotraukas
Comment[ms]=Uruskan foto-foto anda
Comment[nb]=Organiser dine bilder
Comment[oc]=Organizatz vòstras fòtos
Comment[pl]=Zarządzaj swoimi zdjęciami
Comment[pt]=Organize as suas fotos
Comment[pt_BR]=Organize suas fotos
Comment[ru]=Организуйте ваши фотографии
Comment[sk]=Usporiadať svoje fotografie
Comment[sl]=Organizirajte svoje fotografije
Comment[sq]=Organizoni fotot tuaja
Comment[sr]=Организујте ваше фотографије
Comment[sv]=Organisera dina bilder
Comment[tl]=Mag-organize ng iyong mga Litrato
Comment[tr]=Fotoğraflarınızı yönetin
Comment[ug]=سۈرەتلىرىڭىزنى باشقۇرۇڭ
Comment[uk]=Упорядкуйте свої фото
Comment[zh_CN]=管理您的照片
Comment[zh_TW]=整理您的相片
Exec=pantheon-photos %U
Icon=/home/gonzalo/Imágenes/Iconos/google_fotos.png
GenericName=Photo Manager
GenericName[af]=Fotobestuurder
GenericName[bg]=Управление на снимки
GenericName[ca]=Gestor de fotografies
GenericName[ckb]=بەڕێوەبەری وێنە
GenericName[cs]=Správce fotografií
GenericName[da]=Billedhåndtering
GenericName[de]=Fotoverwaltung
GenericName[en_GB]=Photo Manager
GenericName[es]=Gestor de fotos
GenericName[fi]=Valokuvien hallinta
GenericName[fr]=Gestionnaire de photos
GenericName[hr]=Upravitelj fotografija
GenericName[it]=Gestore di foto
GenericName[iu]=Менеджер фотографий
GenericName[ja]=フォトマネージャ
GenericName[ko]=포토 매니저
GenericName[ku]=Rêvebirê Wêneyan
GenericName[lt]=Nuotraukų tvarkytuvė
GenericName[ms]=Pengurus Foto
GenericName[nb]=Bildebehandler
GenericName[oc]=Gestionari de fòtos
GenericName[pl]=Menedżer zdjęć
GenericName[pt]=Gestor de Fotos
GenericName[pt_BR]=Organizador de fotos
GenericName[ru]=Менеджер фотографий
GenericName[sk]=Správca fotografií
GenericName[sl]=Upravljalnik fotografij
GenericName[sr]=Управник фотографијама
GenericName[sv]=Bildhanterare
GenericName[tl]=Pang-manage ng mga Litrato
GenericName[tr]=Fotoğraf Yöneticisi
GenericName[ug]=سۈرەت باشقۇرغۇچ
GenericName[uk]=Фото Менеджер
GenericName[zh_CN]=照片管理器
GenericName[zh_TW]=相片管理員
Keywords=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[af]=album;kamera’s;sny by;wysig;verbeter;stuur uit;galery;beelde;voer in;organiseer;foto’s;foto’s;prente;fotografie;druk;publiseer;roteer;deel;merkies;video;
Keywords[ca]=àlbum;càmeres;retalla;edita;millora;exporta;galeria;imatges;importa;organitza;fotografies;fotos;imatges;fotografia;impressió;publica;gira;comparteix;etiquetes;vídeo;
Keywords[cs]=album;fotoaparáty;oříznout;editovat;vylepšit;exportovat;galerie;obrázky;importovat;organizovat;fotografie;fotky;fotografovaní;tisk;publikovat;otočit;sdílet;označení;video;
Keywords[da]=album;kameraer;beskær;rediger;fremhæv;eksportér;galleri;billeder;importér;organiser;fotografier;fotos;billeder;udskriv;udgiv;roter;del;tags;video;
Keywords[de]=album;kameras;zuschneiden;bearbeiten;optimieren;exportieren;galerie;bilder;importieren;verwalten;fotografien;fotos;bilder;fotografie;drucken;veröffentlichen;drehen;teilen;schlüsselwörter;video;
Keywords[en_GB]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[es]=álbum;cámaras;recortar;editar;mejorar;exportar;galería;imágenes;importar;organizar;fotografías;fotos;imágenes;fotografía;imprimir;publicar;girar;compartir;etiquetas;vídeo;
Keywords[fr]=album;appareil photo;retailler;éditer;améliorer;exporter;galerie;images;importer;organiser;photographes;photos;images;photographie;imprimer;publier;rotation;partager;tags;vidéo;
Keywords[hr]=album;kamera;obreži;uredi;poboljšaj;izvezi;galerija;slike;uvezi;organiziraj;fotografije;fotke;slika;fotografija;ispiši;objavi;zakreni;podijeli;oznake;video snimka;
Keywords[it]=album;camera;taglia;modifica;ingrandisci;esporta;galleria;immagini;importa;organizza;fotografie;foto;immagini;fotografia;stampa;pubblica;ruota;condividi;tag;video;
Keywords[iu]=альбом;камеры;вырезать;изменить;усилить;экспорт;галерея;изображения;импорт;организовать;фотографы;фото;печать;публикация;вращать;поделиться;теги;видео;
Keywords[ja]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[ko]=앨범;카메라;크롭;편집;화질 강화;내보내기;갤러리;이미지;가져오기;정리;사진;사진;사진;사진;출력;공유;회전;공유;태그;비디오;
Keywords[lt]=albumas;kameros;apkirpti;redaguoti;patobulinti;eksportuoti;galerija;paveikslai;tvarkyti;fotografai;nuotraukos;fotografija;spausdinti;skelbti;pasukti;bendrinti;žymės;vaizdo įrašas;
Keywords[ms]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[nb]=album;kameraer;crop;rediger;forbedre;eksporter;galleri;bilder;importer;organiser;fotografier;fotoer;bilder;fotografi;utskrift;publiser;roter;del;tagger;video;
Keywords[pl]=album;aparaty;przytnij;edytuj;zwiększ;eksport;obrazy;import;fotografie;zdjęcia;fotografia;druk;publikuj;obróć;udostępnij;znaczniki;wideo;
Keywords[pt]=álbum;câmaras;recortar;editar;melhorar;exportar;galeria;imagens;importar;organizar;fotografias;fotos;fotografia;imprimir;publicar;rodar;partilhar;etiquetas;vídeo;
Keywords[pt_BR]=álbum;câmeras;cortar;editar;melhorar;exportar;galeria;imagens;importar;organizar;fotografias;fotos;figuras;fotografia;impressão;publicar;girar;compartilhar;tags;vídeo;
Keywords[ru]=альбом;камеры;вырезать;изменить;усилить;экспорт;галерея;изображения;импорт;организовать;фотографы;фото;печать;публикация;вращать;поделиться;теги;видео;
Keywords[sk]=album;fotoaparáty;orezať;upraviť;vylepšiť;exportovať;galéria;obrázky;import;správa;fotografie;fotky;obrázky;fotografia;tlač;zverejniť;otočiť;zdieľať;značky;video;
Keywords[sl]=album;kamera;fotoaparat;izreži;uredi;izboljšaj;galerija;slike;fotografije;organiziraj;fotografija;natisni;tiskaj;objavi;obrni;deli;video;film;
Keywords[sr]=албум;фото-апарат;исеци;уреди;побољшај;извези;збирка;слике;увези;организуј;фотографије;слике;фотографија;штампај;објави;окрени;дели;означи;
Keywords[sv]=album;kameror;beskär;redigera;förbättra;exportera;galleri;bilder;importera;organisera;fotografier;foton;fotografering;skriv ut;publicera;rotera;dela;taggar;video;
Keywords[tl]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;litrato;larawan;
Keywords[tr]=albüm;kameralar;kes;düzenle;arttır;dışa aktar;galeri;resimler;içe aktar;yönet;fotoğraflar;fotoğraflar;resimler;fotoğraf;yazdır;yayınla;çevir;paylaş;etiketler;video;
Keywords[ug]=ئالبوم؛ كامىرالار؛ كىسىش؛ تەھرىرلەش؛ كۈچەيتىش؛ چىقىرىش؛ رەسىم كارىدورى؛ رەسىملەر؛ كىرگۈزۈش؛ باشقۇرۇش؛ فوتوگرافلار؛ سۈرەتلەر؛ رەسىملەر؛ فوتوگرافچىلىق؛ بىسىش؛ ئىلان قىلىش؛ چۆرگىلىتىش؛ ھەمبەھىرلەش؛ خەتكۈچ؛ ۋېدىئو؛
Keywords[zh_CN]=相册;相机;剪裁;编辑;增强;导出;展示;图像;导入;管理;摄影;照片;图片;拍摄;打印;发布;旋转;分享;标签;视频;
Keywords[zh_TW]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;相簿;照相機;相機;裁切;編輯;增強;優化;匯出;畫廊;影像;圖片;相片;匯入;整理;攝影;列印;發佈;發表;分享;旋轉;共享;標籤;標記;視訊;影片;
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-content/image-dcf;
Categories=Graphics;Photography;GNOME;GTK;
X-GNOME-UsesNotifications=false
