[Desktop Entry]
Version=1.0
Type=Application
Name=Konsole
Icon=/home/gonzalo/Imágenes/Iconos/terminal.png
Exec=konsole %U
Comment=Konsole
Categories=Qt;KDE;System;TerminalEmulator;
Terminal=false
StartupWMClass=konsole