[Desktop Entry]
Version=1.0
Name=Videos
Name[bg]=Видеоклипове
Name[ca]=Vídeos
Name[cs]=Videa
Name[da]=Videoer
Name[de]=Videos
Name[el]=Βίντεο
Name[en_GB]=Videos
Name[es]=Vídeos
Name[et]=Videod
Name[fi]=Videot
Name[fr]=Vidéos
Name[hr]=Snimke
Name[it]=Video
Name[ja]=ビデオ
Name[ko]=오디언스
Name[ku]=Vîdyo
Name[lt]=Vaizdo įrašai
Name[oc]=Vidèos
Name[pl]=Filmy
Name[pt]=Vídeos
Name[pt_BR]=Vídeos
Name[ro]=Fișiere video
Name[ru]=Видео
Name[sk]=Videá
Name[sl]=Video predvajalnik
Name[sq]=Video
Name[sr]=Снимци
Name[sv]=Videor
Name[tr]=Videolar
Name[ug]=ۋىدىئولار
Name[uk]=Відео
Name[ur]=ویڈیوز
Name[zh_CN]=视频
Name[zh_TW]=影片
GenericName=Video Player
GenericName[bg]=Възпроизвеждане на видеоклипове
GenericName[ca]=Reproductor de vídeo
GenericName[cs]=Přehrávač videa
GenericName[da]=Videoafspiller
GenericName[de]=Video-Wiedergabe
GenericName[en_GB]=Video Player
GenericName[es]=Reproductor de vídeo
GenericName[et]=Videoesitaja
GenericName[fi]=Videosoitin
GenericName[fr]=Lecteur vidéo
GenericName[hr]=Video reproduktor
GenericName[it]=Riproduttore video
GenericName[ja]=ビデオプレーヤー
GenericName[ko]=비디오 플레이어
GenericName[ku]=Lêdera Vîdeoyê
GenericName[lt]=Vaizdo grotuvas
GenericName[oc]=Lector Vidèo
GenericName[pl]=Odtwarzacz wideo
GenericName[pt]=Reprodutor de vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ro]=Player video
GenericName[ru]=Видеопроигрыватель
GenericName[sk]=Video prehrávač
GenericName[sl]=Video predvajalnik
GenericName[sq]=Riprodhues video
GenericName[sr]=Програм за пуштање снимака
GenericName[sv]=Videospelare
GenericName[tr]=Video Oynatıcı
GenericName[ug]=سىن قويغۇ
GenericName[uk]=Програвач відео
GenericName[ur]=ویڈیو پلیئر
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=影片播放器
Comment=Watch videos and movies
Comment[bg]=Гледане на видеоклипове и филми
Comment[ca]=Vegeu videos i pel·lícules
Comment[cs]=Sledovat videa a filmy
Comment[da]=Se videoer og film
Comment[de]=Videos und Filme ansehen
Comment[el]=Παρακολουθήστε βίντεο και ταινίες
Comment[en_GB]=Watch videos and films
Comment[es]=Ver vídeos y películas
Comment[et]=Videode ja filmide vaatamine
Comment[fi]=Katsele videoita ja elokuvia
Comment[fr]=Regarder des vidéos et des films
Comment[hr]=Gledajte video snimke i filmove
Comment[it]=Guarda video e film
Comment[ja]=ビデオや映画を見ます
Comment[ko]=비디오 및 영화 감상
Comment[lt]=Žiūrėti vaizdo įrašus ir filmus
Comment[pl]=Oglądaj pliki wideo oraz filmy
Comment[pt]=Veja vídeos e filmes
Comment[pt_BR]=Assista a vídeos e filmes
Comment[ro]=Vizualizează videoclipuri și filme
Comment[ru]=Просмотр видео и фильмов
Comment[sk]=Pozeraj videá a filmy
Comment[sl]=Glej filme in ostale posnetke
Comment[sq]=Shiko video dhe filma
Comment[sr]=Гледајте снимке и филмове
Comment[sv]=Titta på videor och filmer
Comment[tr]=Video ve Film izle
Comment[ug]=ۋىدىئو ۋە كىنولارنى كۆرۈش
Comment[uk]=Переглядайте відео та фільми
Comment[ur]=ویڈیو اور فلمیں دیکھیں
Comment[zh_CN]=观看影片和视频
Comment[zh_TW]=觀賞影片和電影
Exec=io.elementary.videos %U
Icon=multimedia-video-player
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
MimeType=application/x-musepack;application/musepack;application/x-ape;application/x-id3;application/ogg;application/x-ogg;application/x-vorbis+ogg;application/x-flac;video/quicktime;video/x-quicktime;application/x-quicktimeplayer;application/smil;application/vnd.rn-realmedia;video/vnd.rn-realvideo;application/asx;video/x-ms-asf-plugin;video/x-msvideo;video/msvideo;application/x-mplayer2;application/x-ms-wmv;video/x-ms-asf;video/x-ms-wm;video/x-ms-wmv;video/x-ms-wmp;video/x-ms-wvx;application/x-drm-v2;video/mpeg;video/x-mpeg;video/x-mpeg2;video/mp4;video/3gpp;video/fli;video/x-fli;video/x-flv;video/vnd.vivo;application/x-nsv-vp3-mp3;video/x-matroska;video/matroska;video/x-mng;video/webm;video/x-webm;video/mp2t;video/vnd.mpegurl;video/x-ogm+ogg;
X-GNOME-Gettext-Domain=io.elementary.videos
X-PulseAudio-Properties=media.role=video
NoDisplay=true