[Desktop Entry]
Type=Application
Name=System Settings
Name[az]=Sistem Tənzimləmələri
Name[bg]=Настройки на системата
Name[ca]=Configuració del sistema
Name[cs]=Nastavení systému
Name[da]=Systemindstillinger
Name[de]=Systemeinstellungen
Name[el]=Ρυθμίσεις συστήματος
Name[en_CA]=System Settings
Name[en_GB]=System Settings
Name[es]=Ajustes del sistema
Name[et]=Süsteemi seaded
Name[fi]=Järjestelmän asetukset
Name[fr]=Paramètres du système
Name[he]=הגדרות המערכת
Name[hr]=Postavke sustava
Name[it]=Impostazioni di sistema
Name[ja]=システム設定
Name[ko]=시스템 설정
Name[ku]=Mîhengên pergalê
Name[lt]=Sistemos nustatymai
Name[nb]=Systeminnstillinger
Name[nl]=Systeeminstellingen
Name[pl]=Ustawienia systemu
Name[pt]=Definições do Sistema
Name[pt_BR]=Configurações do sistema
Name[ru]=Параметры системы
Name[sl]=Sistemske nastavitve
Name[sr]=Подешавања система
Name[sv]=Systeminställningar
Name[tl]=Mga Settings ukol  sa Sistema
Name[tr]=Sistem Ayarları
Name[ug]=سىستېما تەڭشەكلىرى
Name[uk]=Системні налаштування
Name[ur]=سسٹم کی ترتیبات
Name[zh_CN]=系统设置
Name[zh_TW]=系統設定值
Comment=Change system and user settings
Comment[az]=Sistem və istifadəçi ayarlarının dəyişdirilməsi
Comment[bg]=Промяна на настройките на системата и потребителите
Comment[ca]=Canvia la configuració del sistema i de l'usuari
Comment[cs]=Změnit systémová a uživatelská nastavení
Comment[da]=Skift system- og brugerindstillinger
Comment[de]=System- und Benutzereinstellungen ändern
Comment[el]=Αλλαγή ρυθμίσεων συστήματος και χρηστών
Comment[en_CA]=Change system and user settings
Comment[en_GB]=Change system and user settings
Comment[es]=Cambiar ajustes del sistema y del usuario
Comment[et]=Süsteemi seadete muutmine
Comment[fi]=Muuta järjestelmä- ja käyttäjäasetuksia
Comment[fr]=Modifier les paramètres système et utilisateur
Comment[he]=שינוי הגדרות המערכת  והגדרות המשתמשים
Comment[hr]=Promijenite postavke sustava i korisnika
Comment[it]=Cambia le impostazioni dell'utente e del sistema
Comment[ja]=ユーザーやシステムの設定を変更します
Comment[ko]=시스템과 사용자 설정 변경
Comment[lt]=Keisti sistemos ir naudotojo nustatymus
Comment[nb]=Endre system- og brukerinstillinger
Comment[nl]=Wijzig systeem- en gebruikersinstellingen
Comment[pl]=Zmień ustawienia systemu i użytkownika
Comment[pt]=Alterar definições do sistema e do utilizador
Comment[pt_BR]=Alterar as configurações de sistema e de usuário
Comment[ru]=Изменить системные и пользовательские настройки
Comment[sl]=Spremeni sistemske in uporabniške nastavitve
Comment[sr]=Промените подешавања система и корисника
Comment[sv]=Ändra system- och användarinställningar
Comment[tl]=Pangasiwaan ang sistema at ang tagagamit
Comment[tr]=Sistem ve kullanıcı ayarlarını değiştir
Comment[ug]=سىستېما ۋە ئابونت تەڭشەكلىرىنى ئۆزگەرتىش
Comment[uk]=Змінити налаштування системи та користувача
Comment[ur]=سسٹم اور صارف کی ترتیبات تبدیل کریں
Comment[zh_CN]=更改系统和用户设置
Comment[zh_TW]=更改系統與使用者設定值
Exec=switchboard %u
Icon=/home/gonzalo/Imágenes/Iconos/ajustes.png
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;System;
Keywords=Center;Control;Panel;Preferences;System;
Keywords[az]=Mərkəz;Nəzarət;Panel;Parametrlər;Sistem;
Keywords[bg]=Център;Контролен;Панел;Предпочитани;Настройки;
Keywords[ca]=Centre;Control;Plafó;Preferències;Sistema;
Keywords[cs]=Centrum;Ovládání;Panel;Vlastnosti;Systém
Keywords[da]=Center;Control;Panel;Preferences;Præferencer;System;
Keywords[de]=Center;Einstellungen;System;
Keywords[el]=Κέντρο;Έλεγχος;Πίνακας;Προτιμήσεις;Σύστημα;
Keywords[en_CA]=Centre;Control;Panel;Preferences;System;
Keywords[es]=Centro;Control;Panel;Preferencias;Sistema;
Keywords[fi]=Center;Control;Panel;Preferences;System;keskus;ohjauspaneeli;asetukset;järjestelmä;
Keywords[fr]=Centre;Contrôle;Panneau;Préférences;Système;Paramètres;
Keywords[he]=מרכז;בקרה;פאנל;לוח;העדפות;הגדרות;מערכת;תצורה;
Keywords[hr]=Središte;Upravljanje;Panel;Osobitosti;Sustav;
Keywords[it]=Centro;Controllo;Pannello;Preferenze;Impostazioni;Sistema;
Keywords[ja]=Center;Control;Panel;Preferences;System;
Keywords[ko]=가운데;콘트롤;패널;설정;시스템;
Keywords[lt]=Centras;Valdymas;Skydelis;Nuostatos;Sistema;
Keywords[nb]=Senter;Kontroll;Panel;Innstillinger;System;
Keywords[nl]=Centrum;Controle;Paneel;Voorkeuren;Systeem;
Keywords[pl]=Centrum;Kontrola;Panel;Preferencje;System;
Keywords[pt]=Centro;Controlo;Painel;Preferências;Definições;Ajustes;
Keywords[pt_BR]=Centro;Controle;Painel;Preferências;Sistema;
Keywords[ru]=Центр;Управление;Панель;Параметры;Система;
Keywords[sr]=центар;управљај;панел;поставке;систем;
Keywords[tr]=Merkez;Kontrol;Panel;Tercihler;Sistem;
Keywords[ug]=،مەركەز، كونترول، تاختا، مايىللىق، سىستېما
Keywords[ur]=؛سینٹر؛مرکز؛پینل؛ترجیحات؛سسٹم؛نظام
Keywords[zh_CN]=中心;控制;面板;设置;系统;
MimeType=x-scheme-handler/settings;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=switchboard --about
Name=About System Settings
Name[az]=Sistem Tənzimləmələri haqqında
Name[bg]=Относно програмата
Name[ca]=Quant a la configuració del sistema
Name[cs]=O aplikaci Nastavení systému
Name[da]=Om Systemindstillinger
Name[de]=Info zu Systemeinstellungen
Name[el]=Σχετικά με τις Ρυθμίσεις συστήματος
Name[en_CA]=About System Settings
Name[en_GB]=About System Settings
Name[es]=Acerca de Ajustes del sistema
Name[et]=Rakendusest…
Name[fi]=Tietoja - Järjestelmän asetukset
Name[fr]=À propos des paramètres du système
Name[he]=על אודות הגדרות המערכת
Name[hr]=O Postavkama sustava
Name[it]=Informazioni
Name[ja]=システム設定について
Name[ko]=시스템 설정 소개
Name[ku]=der bare Mîhengên pergalê
Name[lt]=Apie Sistemos nustatymus
Name[nb]=Om Systeminnstillinger
Name[nl]=Over systeeminstellingen
Name[pl]=O ustawieniach systemu
Name[pt]=Sobre Definições do Sistema
Name[pt_BR]=Sobre as configurações do sistema
Name[ru]=О программе
Name[sl]=O Sistemskih nastavitvah
Name[sr]=О подешавањима система
Name[sv]=Om Systeminställningar
Name[tl]=Tungkol sa mga Settings ng Sistema
Name[tr]=Sistem Ayarları Hakkında
Name[ug]=سىستېما تەڭشەكلىرى ھەققىدە
Name[uk]=Про системні налаштування
Name[ur]=سسٹم ترتیبات کے بارے میں
Name[zh_CN]=关于系统设置
Name[zh_TW]=關於《系統設定值》
