[Desktop Entry]
Type=Application
Name=Camera
Comment=Take photos and videos with the camera
GenericName=Photo Booth
Exec=snap-photobooth
Icon=/home/gonzalo/Imágenes/Iconos/grabador_video.png
Terminal=false
Categories=GNOME;AudioVideo;
Keywords=Photo;Video;Webcam;Camera;Booth;
StartupNotify=true
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=snap-photobooth --about
Name=About Camera
