[Desktop Entry]
Type=Application
Name=Scratch
Name[bg]=Текстов редактор
Name[ca]=Scratch
Name[de]=Scratch
Name[el]=Scratch
Name[en_GB]=Scratch
Name[es]=Scratch
Name[et]=Scratch
Name[eu]=Scratch
Name[fi]=Scratch
Name[fr]=Scratch
Name[he]=רישום
Name[hi]=स्क्रैच
Name[hr]=Scratch
Name[it]=Scratch
Name[ja]=Scratch
Name[ko]=스크래치
Name[ku]=Scratch
Name[ky]=Кайрадан
Name[lt]=Scratch
Name[lv]=Scratch
Name[ms]=Scratch
Name[pl]=Scratch
Name[pt]=Scratch
Name[pt_BR]=Scratch
Name[ro]=Scratch
Name[ru]=Scratch
Name[si]=ස්‍ක්‍රැච්
Name[sk]=Scratch
Name[sr]=Жврљко
Name[tl]=Scratch
Name[tr]=Çizik
Name[ug]=Scratch
Name[uk]=Чирк
Name[zh_CN]=Scratch
Name[zh_TW]=Scratch
Comment=Edit text files
Comment[bg]=Редактиране на текстови файлове
Comment[ca]=Editeu fitxers de text
Comment[cs]=Upravit textové soubory
Comment[de]=Textdateien bearbeiten
Comment[el]=Επεξεργαστείτε αρχεία κειμένου
Comment[en_GB]=Edit text files
Comment[es]=Editar archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[fr_CA]=Éditer des fichiers texte
Comment[he]=עריכת קובצי טקסט
Comment[hi]=लेख फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstovnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[it]=Modifica file di testo
Comment[ja]=テキストファイルを編集します
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[ky]=Тексттик файлдарды оңдоо
Comment[lt]=Redaguoti tekstų failus
Comment[lv]=Rediģēt teksta failus
Comment[ms]=Sunting fail teks
Comment[nb]=Redigér tekstfiler
Comment[pl]=Edytuj pliki tekstowe
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Editar arquivos de texto
Comment[ro]=Editează fișierul text
Comment[ru]=Редактирование текстовых файлов
Comment[si]=පාඨ ගොනු සංස්කරණය
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejajte besedilne datoteke
Comment[sq]=Redakto skedarë teksti
Comment[sr]=Уређујте текстуалне датотеке
Comment[tl]=Mag-edit ng mga tekstong file
Comment[tr]=Metin dosyalarını düzenle
Comment[ug]=تېكىست ھۆججەتلىرىنى تەھرىرلەش
Comment[uk]=Редагувати текстові файли
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔
GenericName=Text Editor
Exec=scratch-text-editor %U
Icon=accessories-text-editor
Terminal=false
Categories=GNOME;GTK;Utility;TextEditor;
Keywords=Notepad;IDE;Plain;
Keywords[ca]=Bloc de notes;IDE;Pla;
Keywords[de]=Editor;Entwicklungsumgebung;rein;IDE;
Keywords[en_GB]=Notepad;IDE;Plain;
Keywords[es]=Bloc de notas;IDE;Texto plano;Entorno de desarrollo
Keywords[et]=Notepad;IDE;Plain;
Keywords[fi]=Notepad;IDE;Plain;muistio;teksti;
Keywords[fr]=Bloc note;IDE;Plein;
Keywords[he]=פנקס רשימות;סביבת פיתוח;פשוט;
Keywords[hr]=Notepad;IDE;Ovično;
Keywords[hu]=Notepad;IDE;Plain;
Keywords[it]=Blocco Note;IDE;Ambiente di sviluppo;Normale;
Keywords[ja]=Notepad;IDE;Plain;
Keywords[ko]=노트패드;IDE;플레인;
Keywords[ky]=Notepad;IDE;Plain;Блокнот;Tекст;
Keywords[lt]=Užrašinė;IDE;Paprasta;
Keywords[ms]=Notepad;IDE;Plain;
Keywords[pl]=Notatnik;IDE;Prosty;
Keywords[pt]=Notepad;IDE;Simples;
Keywords[pt_BR]=Bloco de notas;IDE;Texto plano;
Keywords[ro]=Notepad;IDE;Plain;
Keywords[ru]=Notepad;IDE;Plain;Блокнот;Текст;
Keywords[sk]=Poznámkový blok;IDE;Čistý;
Keywords[sr]=белешка;ИДЕ;обичан;
Keywords[tr]=Not Defteri;IDE;Sade;
Keywords[ug]=خاتىرە دەپتەر؛IDE؛ساپ يىزىق؛
Keywords[uk]=Notepad;IDE;Plain;
Keywords[zh_CN]=记事本;IDE;纯文本;
Keywords[zh_TW]=Notepad;IDE;Plain;記事本;筆記本;純文字;整合式開發環境;紀事;
MimeType=text/plain;
StartupNotify=true
Actions=NewWindow;NewDocument;AboutDialog;
X-GNOME-Gettext-Domain=scratch-text-editor
NoDisplay=true

[Desktop Action NewDocument]
Name=New Document
Exec=scratch-text-editor --new-tab

[Desktop Action NewWindow]
Name=New Window
Exec=scratch-text-editor --new-window

[Desktop Action AboutDialog]
Exec=scratch-text-editor --about
Name=About Scratch
Name[bg]=Относно програмата
Name[ca]=Quant a l'Scratch
Name[cs]=O Scratch
Name[de]=Info zu Scratch
Name[el]=Σχετικά με το Scratch
Name[en_GB]=About Scratch
Name[es]=Acerca de Scratch
Name[et]=Rakendusest...
Name[eu]=Scratcheri Buruz
Name[fi]=Tietoja - Scratch
Name[fr]=À propos de Scratch
Name[fr_CA]=À propos de Scratch
Name[he]=על אודות רישום
Name[hi]=स्क्रैच के बारे मे
Name[hr]=O Scratchu
Name[hu]=A Scratch névjegye
Name[it]=Informazioni
Name[ja]=Scratch について
Name[ko]=스크래치 소개
Name[ku]=derbare Scratch
Name[ky]=Программа жөнундө
Name[lt]=Apie Scratch
Name[lv]=Par Scratch
Name[ms]=Perihal Scratch
Name[nb]=Om Scratch
Name[pl]=O Scratch
Name[pt]=Sobre o Scratch
Name[pt_BR]=Sobre o Scratch
Name[ro]=Despre Scratch
Name[ru]=О программе
Name[si]=ස්‍ක්‍රැච් පිලිබඳව​
Name[sk]=O programe Scratch
Name[sr]=О Жврљку
Name[tl]=Tungkol sa Scratch
Name[tr]=Çizik Hakkında
Name[ug]=Scratchھەققىدە
Name[uk]=Про Scratch
Name[zh_CN]=关于 Scratch
Name[zh_TW]=關於 Scratch
