[Desktop Entry]
Type=Application
Name=Screenshot
Name[bg]=Снимка
Name[ca]=Captura de pantalla
Name[cs]=Snímek obrazovky
Name[da]=Skærmbillede
Name[de]=Bildschirmfoto
Name[el]=Στιγμιότυπο οθόνης
Name[en_CA]=Screenshot
Name[en_GB]=Screenshot
Name[eo]=Ekrankopio
Name[es]=Captura de pantalla
Name[et]=Ekraanipilt
Name[eu]=Pantaila-argazkia
Name[fi]=Kuvakaappaus
Name[fr]=Capture d'écran
Name[hi]=स्क्रीनशॉट
Name[hr]=Slika zaslona
Name[it]=Schermata
Name[ja]=スクリーンショット
Name[ka]=ეკრანის ანაბეჭდი
Name[ko]=스크린샷
Name[ku]=Wêneya sermasê
Name[lt]=Ekrano kopija
Name[nb]=Skjermbilde
Name[pl]=Zrzut ekranu
Name[pt]=Captura de ecrã
Name[pt_BR]=Captura de tela
Name[ro]=Captură de ecran
Name[ru]=Снимок экрана
Name[sk]=Snímok obrazovky
Name[sl]=Posnetek zaslona
Name[sr]=Снимак екрана
Name[sv]=Skärmbild
Name[tr]=Ekran görüntüsü
Name[ug]=ئېكراندىن رەسىم كىسىش
Name[uk]=Знімок екрана
Name[zh_CN]=截图
Name[zh_TW]=畫面快照
Comment=Save images of the screen
Comment[bg]=Запазване на снимки на екрана
Comment[ca]=Desa imatges de la pantalla
Comment[ckb]=پاشەکەوتکردنی وێنەکانی پەردە
Comment[cs]=Uložit snímky obrazovky
Comment[da]=Gem billeder af skærmen
Comment[de]=Bildschirmfotos speichern
Comment[el]=Αποθηκεύστε απεικονίσεις της οθόνης σας
Comment[en_CA]=Save images of the screen
Comment[es]=Guardar imágenes de la pantalla
Comment[et]=Ekraanist piltide salvestamine
Comment[fi]=Tallenna näytöllä näkyvä kuva
Comment[fr]=Enregistrer des images de l'écran
Comment[hi]=स्क्रीन की छवि सुरक्षित करें
Comment[hr]=Spremi slike zaslona
Comment[it]=Salva immagini dello schermo
Comment[ja]=画面の画像を保存します
Comment[ko]=스크린샷 이미지 저장
Comment[lt]=Įrašyti ekrano paveikslus
Comment[nb]=Lagre bilder av skjermen
Comment[pl]=Zapisuje zrzuty ekranu
Comment[pt]=Guardar imagens do ecrã
Comment[pt_BR]=Salvar imagens da tela
Comment[ro]=Salvează imagini ale ecranului
Comment[ru]=Сохранить снимок экрана
Comment[sl]=Shrani posnetke zaslona
Comment[sq]=Ruaj imazhe të ekranit
Comment[sr]=Сачувајте слике екрана
Comment[sv]=Spara bilder av skärmen
Comment[tr]=Ekranın görüntülerini kaydet
Comment[ug]=ئىكران رەسىمىنى ساقلاش
Comment[uk]=Збереження зображень екрану
Comment[zh_CN]=保存屏幕截图
Comment[zh_TW]=將螢幕畫面存成影像
Exec=screenshot-tool
Icon=/home/gonzalo/Imágenes/Iconos/screenshot.png
Terminal=false
Categories=GTK;GNOME;Utility;
Keywords=Snapshot;Screenshot;
Keywords[ca]=Instantània;Captura de pantalla;
Keywords[cs]=Momentka;Snímek obrazovky;
Keywords[da]=Skærmbillede;
Keywords[de]=Schnappschuss;Bildschirmfoto;
Keywords[el]=Στιγμιότυπο;Στιγμιότυπο οθόνης;
Keywords[en_CA]=Snapshot;Screenshot;
Keywords[en_GB]=Snapshot;Screenshot;
Keywords[es]=Captura;Imagen;
Keywords[et]=Snapshot;Screenshot;Ekraanipilt;Kuvatõmmis;Ekraanitõmmis;
Keywords[fi]=Snapshot;Screenshot;kuvakaappaus;kuvankaappaus;ruutukaappaus;
Keywords[fr]=Capture;Écran;
Keywords[hi]=स्नैपशॉट;स्क्रीनशॉट;
Keywords[hr]=Brzi snimak;Slika zaslona
Keywords[it]=Istantanea;Schermata;
Keywords[ja]=Snapshot;Screenshot;
Keywords[ka]=მომენტალური ფოტო;ეკრანის ანაბეჭდი;
Keywords[ko]=스냅샷;스크린샷;
Keywords[lt]=Ekrano kopija;Momentinė nuotrauka;
Keywords[nb]=Skjermbilde;Snapshot;Screenshot;
Keywords[pl]=Migawka;Zrzut ekranu;
Keywords[pt]=Instantâneo;Captura de Ecrã;
Keywords[pt_BR]=Retrato;Captura de tela;
Keywords[ro]=Instantaneu;Captură de ecran;
Keywords[ru]=Snapshot;Screenshot;Снимок экрана;Скриншот
Keywords[sk]=Momentka;SnímokObrazovky;
Keywords[sl]=Snapshot;Screenshot;Zaslon;Posnetek;Slika
Keywords[sr]=снимак;екран;
Keywords[sv]=Skärmdump;Skärmbild;
Keywords[tr]=Hızlı fotoğraf;Ekran görüntüsü
Keywords[ug]=ئىكراندىن رەسىم كىسىش
Keywords[uk]=Snapshot;Screenshot;
Keywords[zh_CN]=截图;截屏;
Keywords[zh_TW]=Snapshot;Screenshot;快照;畫面快照;螢幕快照;螢幕擷圖;螢幕抓圖;
Actions=ScreenShot;WindowShot;AreaShot;

[Desktop Action ScreenShot]
Name=Screenshot of the Whole Screen
Name[bg]=Снимка на целия екран
Name[ca]=Captura de tota la pantalla
Name[cs]=Snímek celé obrazovky
Name[da]=Skærmbillede af hele skærmen
Name[de]=Bildschirmfoto des gesamten Bildschirms
Name[el]=Στιγμιότυπο ολόκληρης της οθόνης
Name[en_CA]=Screenshot of the Whole Screen
Name[es]=Captura de pantalla completa
Name[et]=Ekraanitõmmis kogu ekraanist
Name[fi]=Kuvakaappaus koko näytöstä
Name[fr]=Capture de tout l'écran
Name[hi]=पूरे स्क्रीन का स्क्रीनशॉट
Name[hr]=Slika zaslona cijelokupnog zaslona
Name[it]=Schermata dell'intero schermo
Name[ja]=画面全体のスクリーンショットを取得する
Name[ko]=전체 화면 찍기
Name[lt]=Viso ekrano kopija
Name[nb]=Skjermbilde av hele skjermen
Name[pl]=Zrzut całego ekranu
Name[pt]=Captura de todo o ecrã
Name[pt_BR]=Captura da tela inteira
Name[ro]=Capturează tot ecranul
Name[ru]=Снимок всего экрана
Name[sl]=Posnetek celotnega zaslona
Name[sr]=Снимак читавог екрана
Name[sv]=Skärmbild av hela skärmen
Name[tr]=Tüm Ekranın Görüntüsü
Name[ug]=پۈتۈن ئىكراننىڭ رەسىمىنى كىسىش
Name[uk]=Знімок на весь екран
Name[zh_CN]=整个屏幕的截图
Name[zh_TW]=整個螢幕的畫面快照
Exec=screenshot-tool --screen

[Desktop Action WindowShot]
Name=Screenshot of the Current Window
Name[bg]=Снимка на текущия прозорец
Name[ca]=Captura de la finestra actual
Name[cs]=Snímek aktuálního okna
Name[da]=Skærmbillede af det aktuelle vindue
Name[de]=Bildschirmfoto des aktuellen Fensters
Name[el]=Στιγμιότυπο του τρέχοντος παραθύρου
Name[en_CA]=Screenshot of the Current Window
Name[es]=Captura de la ventana actual
Name[et]=Ekraanipilt aktiivsest aknast
Name[fi]=Kuvakaappaus nykyisestä ikkunasta
Name[fr]=Capture de la fenêtre actuelle
Name[hi]=वर्तमान विंडो का स्क्रीनशॉट
Name[hr]=Slika zaslona trenutnog prozora
Name[it]=Schermata della finestra corrente
Name[ja]=現在のウインドウをスクリーンショットする
Name[ko]=현재 창 찍기
Name[lt]=Esamo lango ekrano kopija
Name[nb]=Skjermbilde av gjeldende vindu
Name[pl]=Zrzut bieżącego okna
Name[pt]=Captura da janela atual
Name[pt_BR]=Captura de tela da janela atual
Name[ro]=Captureză fereastra curentă
Name[ru]=Снимок текущего окна
Name[sl]=Posnetek trenutnega okna
Name[sr]=Снимак текућег прозора
Name[sv]=Skärmbild av aktuellt fönster
Name[tr]=Geçerli Pencerenin Görüntüsü
Name[ug]=ھازىرقى كۆزنەكنىڭ رەسىمىنى كىسىش
Name[uk]=Знімок поточного вікна
Name[zh_CN]=当前窗口的截图
Name[zh_TW]=目前視窗的畫面快照
Exec=screenshot-tool --window

[Desktop Action AreaShot]
Name=Screenshot of a Selected Area
Name[bg]=Снимка на избрана зона
Name[ca]=Captura d'una àrea seleccionada
Name[cs]=Snímek vybrané oblasti
Name[da]=Skærmbillede af et valgt område
Name[de]=Bildschirmfoto eines ausgewählten Bereichs
Name[el]=Στιγμιότυπο μιας επιλεγμένης περιοχής
Name[en_CA]=Screenshot of a Selected Area
Name[es]=Captura de un área seleccionada
Name[et]=Ekraanipilt valitud alast
Name[fi]=Kuvakaappaus valitusta alueesta
Name[fr]=Capture de la zone sélectionnée
Name[hi]=चिन्हित क्षेत्र का स्क्रीनशॉट
Name[hr]=Slika zaslona odabranog područja
Name[it]=Schermata di un'area selezionata
Name[ja]=選択領域をスクリーンショットする
Name[ko]=지정 범위 찍기
Name[lt]=Pasirinktos srities ekrano kopija
Name[nb]=Skjermbilde av valgt område
Name[pl]=Zrzut wybranego obszaru
Name[pt]=Captura da área selecionada
Name[pt_BR]=Captura de tela da área selecionada
Name[ro]=Captureză zona selectată
Name[ru]=Снимок выбранной области
Name[sl]=Posnetek izbranega območja
Name[sr]=Снимак изабране области
Name[sv]=Skärmbild av ett markerat område
Name[tr]=Seçilen Bölgenin Görüntüsü
Name[ug]=تاللانغان رايوننىڭ رەسىمىنى كىسىش
Name[uk]=Знімок обраної області
Name[zh_CN]=选中区域的截图
Name[zh_TW]=選定區域的快照
Exec=screenshot-tool --area
