[Desktop Entry]
GenericName=Audio Recorder
Categories=GNOME;AudioVideo;Recorder
Exec=audio-recorder
Icon=/home/gonzalo/Imágenes/Iconos/grabador_audio.png
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true

Name=Grabador


Comment=Easy-to-use audio recording tool
Comment[de]=Leicht zu benutzendes Werkzeug für Audio-Aufnahmen
Comment[en_GB]=Easy-to-use audio recording tool
Comment[en_US]=Easy-to-use audio recording tool
Comment[es]=Herramienta de grabación fácil de utilizar
Comment[fi_FI]=Helppokäyttöinen ohjelma äänen nauhoitukseen
Comment[fr]=Outil d'enregistrement audio facile à utiliser
Comment[hr]=Snimč zvuka
Comment[hu]=Egyszerűen használható audio rögzítő eszköz
Comment[it]=Registratore audio
Comment[nb_NO]=Et program for lydopptak
Comment[pl]=Proste narzędzie do nagrywania audio
Comment[pt]=Aplicativo para gravação de áudio fácil de usar
Comment[pt_BR]=Ferramenta de gravação de fácil uso
Comment[ru]=Легкий в использовании инструмент аудиозаписи
Comment[sk]=Audio Recorder
Comment[sr]=Audio Recorder
Comment[tr]=Ses Kaydedici
Comment[uk]=Легкий в застосуванні інструмент для аудіо запису
Comment[vi]=Trình ghi âm

# Right-click menu items for Unity's launcher icon.
# Ref: https://wiki.ubuntu.com/Unity/LauncherAPI
X-Ayatana-Desktop-Shortcuts=StartRecording;StopRecording;PauseRecording;ShowWindow

[StartRecording Shortcut Group]
Name=Start
Name[fi_FI]=Aloita
Name[nb_NO]=Start
Exec=audio-recorder --command=start
TargetEnvironment=Unity

[StopRecording Shortcut Group]
Name=Stop
Name[fi_FI]=Lopeta
Name[nb_NO]=Stopp
Exec=audio-recorder --command=stop
TargetEnvironment=Unity

[PauseRecording Shortcut Group]
Name=Pause
Name[fi_FI]=Keskeytä väliaikaisesti
Name[nb_NO]=Pause
Exec=audio-recorder --command=pause
TargetEnvironment=Unity

[ShowWindow Shortcut Group]
Name=Show window
Name[fi_FI]=Näytä ikkuna
Name[nb_NO]=Vis applikasjon
Exec=audio-recorder --command=show
TargetEnvironment=Unity


